body {
    font: 100% arial,sans-serif;
}

h1 {
    text-align:center;
    color: #60b044;
}

#my-game {
	width: 230px;
	margin: 0 auto;
}

#message {
	text-align: center;
	padding: 10px;
	font: bold 24px arial, sans-serif;
}

#reload {
	display: none;
	position: relative;
	left: 35%;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #60b044;
	background-image: -webkit-linear-gradient(#8add6d, #60b044);
	background-image: linear-gradient(#8add6d, #60b044);
	background-repeat: repeat-x;
	border-color: #5ca941;
	padding: 10px 50px;
	border: none;
	padding: 10px 50px;
	font-size: 18px;
}

.ttc {
	width: 65px;
	height: 65px;
	margin: 0 4px 5px 5px;
	cursor: pointer;
	float: left;
	border: 1px solid #999;
}
 
.ttc p {
	text-align: center;
	line-height: 12px;
	font: 24px/12px arial, sans-serif;
}
