#my-game {
	width: 230px;
	margin: 0 auto;
}

#message {
	text-align: center;
	padding: 10px;
	font: bold 24px arial, sans-serif;
}

#reload {
	display: none;
	position: relative;
	left: 36%;
	border: none;
	padding: 10px 50px;
	background-color: yellowgreen;
	cursor: pointer;
	box-shadow: 1px 1px 1px 0px #ccc;
	font-size: 18px;
	border-radius: 10px;
}

.ttc {
	width: 65px;
	height: 65px;
	margin: 0 4px 5px 5px;
	cursor: pointer;
	float: left;
	border: 1px solid #999;
}

.ttc p {
	text-align: center;
	line-height: 12px;
	font: 24px/12px arial, sans-serif;
}
